body {
    font-family: 'Open Sans', Arial, sans-serif;
}
div.content {
    margin: 10px;
}
img.header-logo {
    float: right;
    max-width: 200px;
}
hr {
    border: 1px solid black;
}
p.used-warning {
    color: red;
    font-weight: bold;
}
ul.attachments {
    list-style-type: none;
}
ul.attachments li:before {
    content: '\1F4CE';
    margin-left: -20px;
    margin-right: 7px;
}
span.filetype {
    font-size: 0.7em;
    margin: 0 auto 10px 3px;
    display: block;
}
span.service-attr {
    font-size: 0.8em;
}
a:link, a:visited {
    color: #00509e;
}
code {
    font-weight: bold;
    color: #00509e;
}
